* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  background: #eee;
  justify-content: space-around; 
  display: flex;
  flex-wrap: wrap;
}
.card {
  background: #fff;
  border: solid 2px;
  border-radius: 5px;
  border-color: #aaa;
  max-width: 470px;
  max-height: 300px;
  margin-bottom: 10px;
  padding: 10px;
}
.card__titill {
  font-size: 0.916666rem;
  line-height: 1.375rem;
  word-break: break-all;
  margin-bottom: 10px;
}
div p {
  line-height: 22px;
  word-break: break-word;
}
.cards img {
  width: 150px;
  height: auto;
}
.card__innihald {
  display: flex;
}
.card__paragraph {  
  max-height: 200px;
  overflow: auto;
}
ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
li {
  margin: 0 8px 0 0;  
}